body {
    background-color: rgb(202, 197, 189);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
  h1 {
    color: rgb(62, 62, 62);
    text-size-adjust: 200%;
    background-color: bisque;
    border: 2px dotted gray;

  }
  p {
    color: black;
  }